<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif">SECANGKIR
                                        TEKNOLOGI</h2>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-blue-button scroll-to-section">
                                        <!-- <a onclick="document.getElementById('popupSignUp').style.display='block'"
                                            style="cursor: pointer;">Sign Up Now</a> -->
                                        <!-- <a style="cursor: pointer;">Sign Up Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="../../../../assets/img/service/hero.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our-services" class="our-services section">
    <img src="../../../../assets/img/service/bg-ourservice-1.svg" alt="" style="position: absolute;">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../../../../assets/img/service/web-application.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-item">
                    <h2 class="header-services">Web Application</h2>
                </div>
                <p class="title-services">
                    Websites are a great place for marketing. Because it can help you get more leads, increase sales,
                    enhance your brand and improve customer service.
                </p>
                <div class="main-green-button"><a href="#">See more</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-item">
                    <h2 class="header-services">Manage Social Media</h2>
                </div>
                <p class="title-services">
                    Want to increase your sales? We have the solution!
                    Social media management can improve the brand image
                    of the products you sell. Because with content marketing
                    through social media is the key to reaching your target
                    and the basis of a successful digital marketing strategy.
                </p>
                <div class="main-green-button"><a href="#">See more</a></div>
            </div>
            <div class="col-lg-6">
                <div class="left-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../../../../assets/img/service/manage-social-media.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../../../../assets/img/service/video-editing.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-item">
                    <h2 class="header-services">Video Editing</h2>
                </div>
                <p class="title-services">
                    Most people prefer visual content. Using marketing campaigns through visual content such as videos
                    can impact the reach, engagement and sales of your business.
                </p>
                <div class="main-green-button"><a href="#">See more</a></div>
            </div>
        </div>
    </div>
</div>
<div id="about-us" class="about-us section mt-5">
    <img src="../../../../assets/img/service/bg-ourservice-2.svg" alt="" style="position: absolute;">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 align-self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <p style="font-size: 15pt; text-align: justify;">
                    Secangkir Teknologi is a vessel that unites freelance to the company or entrepreneurs who are
                    looking for Production applications, design services, and video editing services. <br>

                    In addition, we also provide applications for companies in search of applications ready for use
                </p>
            </div>
            <div class="col-lg-4">
                <div class="left-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../../../../assets/img/new_asset/top-char.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="team" class="work section mt-5 mb-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>Our Teams</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <section id='teams'>
                <div class="teams-detail text-center align-items-center">
                    <div class="d-flex">
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/adrian.png"
                                class="img-team" />
                            <h3 class="name-team">Adrian Milano</h3>
                            <span>Person Responsible</span>
                        </div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/shanti.png"
                                class="img-team" />
                            <h3 class="name-team">Shanti Annisya. R</h3>
                            <span>Human Resource Development & Controlling</span>
                        </div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/wisnu.png"
                                class="img-team" />
                            <h3 class="name-team">Wisnu Aldy Padma .K</h3>
                            <span>Learning Design</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/mila.png"
                                class="img-team" />
                            <h3 class="name-team">Nur Charisa</h3>
                            <span>Administration</span>
                        </div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/tata.png"
                                class="img-team" />
                            <h3 class="name-team">Regita Syahyani</h3>
                            <span>Graphic Design</span>
                        </div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
                            <img src="https://secangkirilmu.web.id/v1/assets/img/fasilitator/cile.png"
                                class="img-team" />
                            <h3 class="name-team">Hasna Kamila</h3>
                            <span>Program And Events</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- <div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h6>Contact Us</h6>
                                <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Name" autocomplete="on"
                                            required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="surname" name="surname" id="surname" placeholder="Surname"
                                            autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Your Email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="subject" name="subject" id="subject" placeholder="Subject"
                                            autocomplete="on">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" type="text" class="form-control" id="message"
                                            placeholder="Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-blue-button ">Send Message
                                            Now</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div id="popupSignUp" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom" style="top: 20%; border-radius: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading">
                                    <h2><em>SIGN UP</em></h2>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="name" name="name" id="name" placeholder="Name"
                                                autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="surname" name="surname" id="surname" placeholder="Surname"
                                                autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                                placeholder="Your Email" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="password" name="password" id="password" placeholder="Password"
                                                autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-blue-button">Sign
                                                Up</button>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <button
                                                onclick="document.getElementById('popupSignUp').style.display='none'"
                                                type="button" class="main-button">Cancel</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>