<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © 2021 SECANGKIR TEKNOLOGI.

                    <br>Web Designed by <a rel="nofollow" href="https://templatemo.com"
                        title="free CSS templates">TemplateMo</a>
                </p>
            </div>
        </div>
    </div>
</footer> -->
<footer class="bg-footer" id="footer">
    <div class="container">
        <img src="../../../assets/img/new_asset/top-char.png" style="position: absolute; z-index: -1; opacity: 0.3; height: 300px; object-fit: contain;">
        <div class="row">
            <div class="col-md-4 mt-5 mb-5">
                <h3 style="color: #fff;">SECANGKIR<br>TEKNOLOGI</h3>
                <span style="display: block; color: #fff;">
                    Secangkir Teknologi is a vessel that unites freelance to the company or entrepreneurs who are
                    looking for Production applications, design services, and video editing services. <br>

                    In addition, we also provide applications for companies in search of applications ready for use
                </span>
            </div>
            <div class="col-md mt-5 mb-5" style="margin-left: 150px;">
                <h4 style="color: #fff;">Links</h4>
                <ul class="footer-link" style="padding-left: 0px;">
                    <li><a href="">Home</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Work</a></li>
                    <li><a href="">Article</a></li>
                    <li><a href="">Team</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-5 mb-5">
                <h4 style="color:#fff;">Alamat</h4>
                <span style="color:#fff;">Jl. M.Kavling No.8, RT.11/RW.13, Kb. Baru, Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 13220. <br>Mail : <a style="color: white;" href="mailto:secangkir.teknologi@gmail.com">secangkir.teknologi@gmail.com</a></span>
            </div>
        </div>
    </div>
    <div style="background-color: #152c5b; width: 100%; display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-3">
                    <span style="color: #fff; font-size: 17px;" > &copy; COPYRIGHTS 2021 SECANGKIR TEKNOLOGI</span>
                </div>
                <div class="col-md"></div>
                <div class="col-md-4">
                    <a target="_blank" href="https://teknologi.secangkirilmu.web.id/"><fa-icon [icon]="iconHome" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconWhatsapp" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconFacebook" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="https://www.instagram.com/secangkirteknologi/"><fa-icon [icon]="iconInstagram" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconTwitter" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="mailto:secangkir.teknologi@gmail.com"><fa-icon [icon]="iconEnvelope" class="icon-footer text-white"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- <footer class="footer d-flex flex-row align-items-center justify-content-center">
    <a target="_blank" class="link-footer" href="https://secangkirilmu.web.id"><fa-icon [icon]="iconHome" class="icon text-white" style="margin-right: 3rem;"></fa-icon></a>
    <a target="_blank" class="link-footer" href="https://api.whatsapp.com/send/?phone=6285817032029&text&app_absent=0"><fa-icon [icon]="iconWhatsapp" class="icon text-white" style="margin-right: 3rem;"></fa-icon></a>
    <a target="_blank" class="link-footer" href="https://www.facebook.com/secangkir.ilmu.1"><fa-icon [icon]="iconFacebook" class="icon text-white" style="margin-right: 3rem;"></fa-icon></a>
    <a target="_blank" class="link-footer" href="https://www.instagram.com/secangkirilmu_/"><fa-icon [icon]="iconInstagram" class="icon text-white" style="margin-right: 3rem;"></fa-icon></a>
    <a target="_blank" class="link-footer" href="https://twitter.com/secangkirilmu_"><fa-icon [icon]="iconTwitter" class="icon text-white" style="margin-right: 3rem;"></fa-icon></a>
    <a target="_blank" class="link-footer" href="mailto:support@secangkirilmu.web.id"><fa-icon [icon]="iconEnvelope" class="icon text-white"></fa-icon></a>
</footer> -->
<!-- <footer class="footer">
    <div class="d-flex py-3">
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-md-center">
            <img src="../../../assets/img/logo4.png" class="img-fluid" width="70%"/>
        </div>
        <div class="col-md-6 icon-footer d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <a target="_blank" class="link-footer" href="https://secangkirilmu.web.id"><fa-icon [icon]="iconHome" class="icon text-white"></fa-icon>secangkirilmu.web.id</a>
                <a target="_blank" class="link-footer" href="https://api.whatsapp.com/send/?phone=6285817032029&text&app_absent=0"><fa-icon [icon]="iconWhatsapp" class="icon text-white"></fa-icon>+62 8581 7032 029</a>
                <a target="_blank" class="link-footer" href="https://www.facebook.com/secangkir.ilmu.1"><fa-icon [icon]="iconFacebook" class="icon text-white"></fa-icon>facebook.com/secangkir.ilmu.1</a>
            </div>
            <div class="d-flex flex-column">
                <a target="_blank" class="link-footer" href="https://www.instagram.com/secangkirilmu_/"><fa-icon [icon]="iconInstagram" class="icon text-white"></fa-icon>@secangkirilmu_</a>
                <a target="_blank" class="link-footer" href="https://twitter.com/secangkirilmu_"><fa-icon [icon]="iconTwitter" class="icon text-white"></fa-icon>@secangkirilmu_</a>
                <a target="_blank" class="link-footer" href="https://mailto:support@secangkirilmu.web.id"><fa-icon [icon]="iconEnvelope" class="icon text-white"></fa-icon>support@secangkirilmu.web.id</a>
            </div>
        </div>
    </div>
</footer> -->