<footer id="site-footer" class="site-footer bg-gradient footer-top-bottom">
    <div class="footer-shape-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="footer-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class="container">
        <div class="footer-logo text-center">
            <img src="../../../assets/images/logo.png" class="attachment-large size-large" alt="">
        </div>

        <div class="flex-col">
            <div class="ft-col-contact text-center">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-world"></i></div>
                    <p>411 University St, Seattle, USA</p>
                    <h6>Our Address</h6>                                            
                </div>
            </div>
            <div class="ft-col-contact text-center border-left border-right">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-note"></i></div>
                    <p><a href="mailto:onum_company@mail.com">onum_company@mail.com</a></p>
                    <h6>Our Mailbox</h6>                                            
                </div>
            </div>
            <div class="ft-col-contact text-center">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-viber"></i></div>
                    <p><a href="tel:800-456-478-23">+1 -800-456-478-23</a></p>
                    <h6>Our Phone</h6>                                          
                </div>
            </div>
        </div>

        <div class="footer-menu">
            <ul id="menu-footer-menu" class="menu">
                <li><a href="index.html" aria-current="page">Home</a></li>
                <li><a href="about-us.html">About</a></li>
                <li><a href="portfolio-grid.html">Portfolio</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>

        <p class="copyright text-center">Copyright © 2020 Onum by OceanThemes. All Rights Reserved.</p>

        <div class="footer-social text-center">
            <a class="footer-social-icon twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="footer-social-icon facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="footer-social-icon linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="footer-social-icon instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

    </div>
</footer>
<!-- <footer class="bg-footer" id="footer">
    <div class="container">
        <img src="../../../assets/img/new_asset/top-char.png" style="position: absolute; z-index: -1; opacity: 0.3; height: 300px; object-fit: contain;">
        <div class="row">
            <div class="col-md-4 mt-5 mb-5">
                <h3 style="color: #fff;">SECANGKIR<br>TEKNOLOGI</h3>
                <span style="display: block; color: #fff;">
                    Secangkir Teknologi is a vessel that unites freelance to the company or entrepreneurs who are
                    looking for Production applications, design services, and video editing services. <br>

                    In addition, we also provide applications for companies in search of applications ready for use
                </span>
            </div>
            <div class="col-md mt-5 mb-5" style="margin-left: 150px;">
                <h4 style="color: #fff;">Links</h4>
                <ul class="footer-link" style="padding-left: 0px;">
                    <li><a href="">Home</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Work</a></li>
                    <li><a href="">Article</a></li>
                    <li><a href="">Team</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-5 mb-5">
                <h4 style="color:#fff;">Alamat</h4>
                <span style="color:#fff;">Jl. M.Kavling No.8, RT.11/RW.13, Kb. Baru, Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 13220. <br>Mail : <a style="color: white;" href="mailto:secangkir.teknologi@gmail.com">secangkir.teknologi@gmail.com</a></span>
            </div>
        </div>
    </div>
    <div style="background-color: #152c5b; width: 100%; display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-3">
                    <span style="color: #fff; font-size: 17px;" > &copy; COPYRIGHTS 2021 SECANGKIR TEKNOLOGI</span>
                </div>
                <div class="col-md"></div>
                <div class="col-md-4">
                    <a target="_blank" href="https://teknologi.secangkirilmu.web.id/"><fa-icon [icon]="iconHome" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconWhatsapp" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconFacebook" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="https://www.instagram.com/secangkirteknologi/"><fa-icon [icon]="iconInstagram" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="javascript:void(0)"><fa-icon [icon]="iconTwitter" class="icon-footer text-white"></fa-icon></a>
                    <a target="_blank" href="mailto:secangkir.teknologi@gmail.com"><fa-icon [icon]="iconEnvelope" class="icon-footer text-white"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</footer> -->