<style>
    .top-services {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 126px 0px 120px 0px;
        position: relative;
        overflow: hidden;
    }

    .top-services::after {
        content: '';
        opacity: 0.4;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 100px;
        width: 212px;
        height: 653px;
        z-index: -1;
    }

    .top-services::before {
        content: '';
        background-image: url(../../../assets/img/new_asset/banner-shape-2.png);
        background-size: cover;
        opacity: 0.3;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        width: 2200px;
        height: 1000px;
        z-index: -1;
    }

    .stepper-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 100px;
    }

    .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4771cb;
        color: white;
        width: 100%;
        top: 35px;
        left: -50%;
        z-index: 2;
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4771cb;
        color: white;
        width: 100%;
        top: 35px;
        left: 50%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: #4771cb;
        color: white;
        font-size: 20pt;
        margin-bottom: 6px;
    }

    .stepper-item.active {
        font-weight: bold;
    }

    .stepper-item.completed .step-counter {
        background-color: #4bb543;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 100%;
        top: 35px;
        left: 50%;
        z-index: 3;
    }

    .stepper-item:first-child::before {
        content: none;
    }

    .stepper-item:last-child::after {
        content: none;
    }

    .step-name {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .card-pricing:hover {
        /* border: 3px solid #007bff; */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-pricing .list-unstyled li {
        padding: .5rem 0;
        color: #6c757d;
    }

    .services-title {
        font-size: 50px;
        text-transform: uppercase;
    }

    .coming-soon {
        padding-bottom: 150px;
        padding-top: 150px;
    }

    @media screen and (max-width: 767px) {
        .coming-soon {
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }
</style>
<div id="web-application" class="top-services section features wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container text-center mb-5">
        <h1 class="services-title">The most complete <span style="color: #4771cb;">service</span> for your <span
                style="color: #33ccc5;">business</span></h1>
    </div>
    <div class="container">
        <div class="features-content">
            <h2 class="text-center" style="color: #33ccc5; padding-top: 20px; padding-bottom: 20px; font-weight: bolder;">HOW TO ORDER</h2>
            <div class="stepper-wrapper">
                <div class="stepper-item">
                    <div class="step-counter">1</div>
                    <div class="step-name">
                        <h5 style="font-weight: bolder;">CONTACT US!</h5>
                        Contact our team to get more information about our product.
                    </div>
                </div>
                <div class="stepper-item">
                    <div class="step-counter">2</div>
                    <div class="step-name">
                        <h5 style="font-weight: bolder;">BRIEFING</h5>
                        You can give us information about which service that you want to order and your preferences. Our team will adjust the total cost of the service that you order.
                    </div>
                </div>
                <div class="stepper-item">
                    <div class="step-counter">3</div>
                    <div class="step-name">
                        <h5 style="font-weight: bolder;">DEAL</h5>
                        If you deal about the cost., you can pay your bill and we will do our service for you!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing card-deck flex-column flex-md-row mb-3 container" *ngIf="isProduct; else emptyContent">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let product of products">
                <div class="card card-pricing text-center px-3 mb-4 mx-2">
                    <div>
                        <img src="{{product.img_product}}" class="mb-5" alt="">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"
                            style="text-transform: uppercase;">
                            {{product.title}}
                        </span>
                    </div>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">
                            <span class="h6 text-muted ml-2">Start from</span><br>
                            <span class="price">Rp. {{product.price}}</span><span
                                class="h6 text-muted ml-2">/{{product.unit}}</span>
                        </h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>{{product.description}}</li>
                        </ul>
                        <ul class="list-unstyled mb-4">
                            <li>Processing time: {{product.proc_time}}/{{product.unit}}</li>
                            <li>Revision Opportunity: {{product.rev_opp}}</li>
                        </ul>
                        <button type="button" class="btn btn-outline-secondary mb-3">Contact Us now!</button>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <ng-template #emptyContent>
        <div class="container">
            <div class="features-content">
                <div class="row text-center coming-soon">
                    <h1>OUR <span style="color: #4771cb;">PRODUCTS </span>IS COMING <span
                            style="color: #33ccc5;">SOON</span></h1>
                </div>
            </div>
        </div>
    </ng-template>
</div>